<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.boltdogapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BoltDogApp">
        <activity
            android:name=".owner.OwnerReviewActivity"
            android:exported="false" />
        <activity
            android:name=".owner.EditProfileOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".owner.OwnerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.ReviewAdapter"
            android:exported="false" />
        <activity
            android:name=".petsitter.PetsitterReviewActivity"
            android:exported="false" />
        <activity
            android:name=".petsitter.StatusRequestActivity"
            android:exported="false" />
        <activity
            android:name=".petsitter.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".petsitter.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".petsitter.ViewAnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".owner.ViewRequests"
            android:exported="false" />
        <activity
            android:name=".petsitter.PetsitterHomeActivity"
            android:exported="false" />
        <activity
            android:name=".owner.addAnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".owner.OwnerHomeActivity2"
            android:exported="false" />
        <activity
            android:name=".petsitter.DetailAnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".authentification.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".authentification.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>